*, *::before, *::after{
    margin: 0;
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
    overflow: hidden;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
    justify-content: center;
    text-align: center;
}

