body {
    overflow: hidden;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
}

@media screen and (max-width: 768px) {
    canvas {
        font-size: 25px; /* Adjust the font size for smaller screens */
    }
}